body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
  padding-top: 50px;
}

h1{
  color: green;
}

input{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  font-size: 16px;
}

button{
  background: green;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background: darkgreen;
}
