body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
  padding-top: 40px;
}

h1{
  color: green;
}

input{
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: 220px;
}

button{
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background: darkgreen;
}

table{
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th, td{
  border: 1px solid #ccc;
  padding: 8px;
}
